h1{
    color:orange;
    text-align: center;
    
}
nav{
    background-color:lightgrey;
    color:black;
    padding: 10px;
}
h3,ul,li{
    display:inline;
}
UL{
    margin-left: 50%;
}
li{
    color:brown;
    cursor:pointer;
}
li:hover{
    color:black;
}
input{
    width:60%;
    padding:15px;
}
.searchbar{
    padding:10x;
    text-align:center;
    margin-top: 15px;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: dashed;
    display:inline-block;
    width: 225px;
    margin-top:40px;

}
.box:hover{
    background-color:gray;
}
.products{
    text-align:center ;
}
.about{
    margin-top: 25px;
    padding:20px;
    background-color:lightgray;
    width:1000px;
    margin-left: 90px;
    h2{
        color:black;
    }
    h2:hover{
        color:orange;
    }
}
p:hover{
    color:crimson;
}

.contact{
    text-align: center;
}
h2:hover{
    color:blueviolet;
}
h4:hover{
    color:red;
}
h5:hover{
    color:red;
}
h5:hover{
    color:red;
}


